.App {
  text-align: center;
}

body {
  background-color: rgb(127, 81, 167);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: black;
  color: rgb(209, 166, 245);
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
